body{
    text-align: center;
   }
    #questiondiv{
     
      background-color: white;
      box-shadow: 10px 10px 30px grey;
      padding-top:10px;
      padding-bottom:10px;
      font-size:25px;
      height:90%;
      margin-left:1%;
    }
    #question{
      float:left;
      margin-bottom:10px;
      display: inline;
      
    }

    li{
      list-style-type: none;
      margin-right:10px;
    
    }
    #result{
      font-size: 25px;
    }
    button{
      margin:10px;
      width: 20%;
    }
    .menu{
      text-align:initial;
      background-color: aquamarine;
    }
    .maindiv{
        background-color: rgb(255, 255, 255);
        border: 5px rgb(164, 246, 229) ridge;
        border-radius: 20px;
   
    }
    #heading{
        font-family:Impact;
    }

    input{
      height:25px;
      width:25px;
    }

    footer{
      bottom:0;
      position: fixed;
      width: 100%
    }

    #story{
      font-family: 'Alegreya', serif;
      background-color: blueviolet;
      padding: 20px;
      color: white;
      font-weight: bold;
      word-spacing: 5px;
      border-radius: 10px;
      font-size: 25px;
    }
    #compliment, #compliment1{
      font-size: 30px;
    }

    div.scroll{
      overflow-y: auto;
      margin-bottom:30px;
    }
    input{
      text-align:center;
      font-size: 25px;
      width: 15%
    }
    #input1, #input4, #input7, #input10{
      background-color: orange;
    }
    #input2, #input5, #input8, #input11{
      background-color: rgb(244, 164, 221);
    }

    #input3, #input6, #input9, #input12{
      background-color: rgb(97, 186, 208);
    }
  
    hr{
      height:2px;
      background-color: black;
    }
  span{
    font-size: 25px;
  }
  